{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-react-jsx",
            {
                "pragma": "renderer.create",
                "pragmaFrag": "renderer.fragment"
            }
        ]
    ]
}
